@using Day3.HomeTask.Models

@model Day3.HomeTask.Models.Person


@{
    ViewBag.Title = "Index";
    
}
<div class="add-user">
    @using (@Html.BeginForm("Index", "Home"))
    {
        @Html.AntiForgeryToken()


        @Html.LabelFor(m => m.Name, new { @class = "label-field" })
        @Html.TextBoxFor(m => m.Name, new { @class = "name-text" })

        <p></p>
        @Html.LabelFor(m => m.Role, "Faction", new { @class = "label-field" })
        @Html.DropDownListFor(model => model.Role,
            new SelectList(Enum.GetNames(typeof(Faction))), string.Empty, new { @class = "name-text" })
        <p>
            <input type="submit" value="Send" class="send-btn"/>
        </p>

    }
</div>

       



